.emoji {
    font-size: x-large;
}

#weather{
    background-color: azure;
}

div.table{
    color: #000000;
}

.td {
    text-align: center;
    vertical-align: middle;
  }

.td {
    vertical-align: middle;
  }